<title>MovieCity by Bright</title>
<link rel="icon" type="image/png" href="./IMG_6711.JPG" sizes="192x192"/>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="searchstyle.css">
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<div class="container header">
    <img src="./Movie-City-Logo-1-2945.png" class="logo">
    <div class="wrapper">
        <div class="search_box">
            <input id="search-input" class="form-control" type="text" placeholder="Search Movie Title"></input>
            <div class="search_btn">
                <i class="fas fa-search"></i>
            </div>
        </div>
    </div>
    <a href="../List.html" class="header-btn">Home</a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="./style.css">

<style>
    th
    { 
        cursor: pointer;
        color:#000;
    }
</style>

<div class="row">
    <div class="clo">
        <div class="cardcard-body">
            
        </div>
    </div>
</div>

<table class="table table-striped">
    <tr  class="bg-info">
        <th  class="bg-info" data-colname="Title" data-order="desc">Title &#9650</th>
        <th  data-colname="Ratings" data-order="desc">Ratings &#9650</th>
        <th  data-colname="Description" data-order="desc">Description &#9650</th>
    </tr>
    <tbody id="myTable">
        
    </tbody>
</table>


<script>
var myArray = [
    {'Title':'Last Night in Soho (2021)', 'Ratings':'3&#9733&#9733&#9733&#9734&#9734', 'Description':'Director: Edgar Wright<br>Stars: Thomasin McKenzie, Anya Taylor-Joy, Matt Smith<br>An aspiring fashion designer is mysteriously able to enter the 1960s where she encounters a dazzling wannabe singer. But the glamour is not all it appears to be and the dreams of the past start to crack and splinter into something darker.'},
    {'Title':'Antlers (2021)', 'Ratings':'3&#9733&#9733&#9733&#9734&#9734', 'Description':'Director: Scott Cooper<br>Stars: Keri Russell, Jesse Plemons, Jeremy T. Thomas, Graham Greene<br>In an isolated Oregon town, a middle-school teacher and her sheriff brother become embroiled with her enigmatic student, whose dark secrets lead to terrifying encounters with a legendary ancestral creature who came before them.'},
    {'Title':'My Hero Academia: World Heroes` Mission (2021)', 'Ratings':'3&#9733&#9733&#9733&#9734&#9734', 'Description':'Director: Kenji Nagasaki<br>Stars: Luis Bermudez, Justin Briner, Robbie Daymond, Tetsu Inada<br>When a cult of terrorists ruins a city by releasing a toxin that causes people`s abilities to spiral out of control, Japan`s greatest heroes spread around the world in an attempt to track down the mastermind and put him to justice.'},
    {'Title':'The Souvenir (2021): Part II', 'Ratings':'5&#9733&#9733&#9733&#9733&#9733', 'Description':'Director: Joanna Hogg<br>Stars: Tilda Swinton, Honor Swinton Byrne, James Spencer Ashworth, Alice McMillan<br>In the aftermath of her tumultuous relationship, Julie begins to untangle her fraught love for him in making her graduation film, sorting fact from his elaborately constructed fiction.'},
    {'Title':'A Mouthful of Air (2021)', 'Ratings':'3&#9733&#9733&#9733&#9734&#9734', 'Description':'Director: Amy Koppelman<br>Stars: Olivia Katz, Christian Kutz, John Herrera, Adam Garcia<br>Julie Davis writes bestselling children`s books about unlocking your fears, but has yet to unlock her own. When her daughter is born, that trauma is brought to the fore, and with it, a crushing battle to survive.'},
    {'Title':'13 Minutes (2021)', 'Ratings':'2&#9733&#9733&#9734&#9734&#9734', 'Description':'Director: Lindsay Gossling<br>Stars: Thora Birch, Sofia Vassilieva, Amy Smart, Anne Heche<br>Four families in a Heartland town are tested in a single day when a tornado hits, forcing paths to cross and redefining the meaning of survival.'},
    {'Title':'Planet Dune (2021)', 'Ratings':'4&#9733&#9733&#9733&#9733&#9734','Description':'Directors: Glenn Campbell, Tammy Klein<br>Stars: Sean Young, Emily Killian, Tammy Klein, Sharon Desiree<br>A crew on a mission to rescue a marooned base on a desert planet turns deadly when the crew finds themselves hunted and attacked by the planet`s apex predators: giant sand worms.'}
]
$('#search-input').on('keyup',function()
        {
            var value = $(this).val()
            console.log('Value:',value)
            var data = searchTable(value,myArray)
            buildTable(data)
        })

buildTable(myArray)

function searchTable(value, data)
        {
            var filteredData = []
            for (var i = 0; i< data.length; i++)
            {
                value = value.toLowerCase()
                var Title = data[i].Title.toLowerCase()

                if (Title.includes(value))
                {
                    filteredData.push(data[i])
                }
            }
            return filteredData
        }


$('th').on('click', function(){
     var column = $(this).data('colname')
     var order = $(this).data('order')
     var text = $(this).html()
     text = text.substring(0, text.length - 1);
     
     
     
     if (order == 'desc'){
        myArray = myArray.sort((a, b) => a[column] > b[column] ? 1 : -1)
        $(this).data("order","asc");
        text += '&#9660'
     }else{
        myArray = myArray.sort((a, b) => a[column] < b[column] ? 1 : -1)
        $(this).data("order","desc");
        text += '&#9650'
     }

    $(this).html(text)
    buildTable(myArray)
    })


   
 
    
function buildTable(data){
    var table = document.getElementById('myTable')
    table.innerHTML = ''
    for (var i = 0; i < data.length; i++){
        var colname = `Title-${i}`
        var colage = `Ratings-${i}`
        var colbirth = `Description-${i}`

        var row = `<tr>
                        <td>${data[i].Title}</td>
                        <td>${data[i].Ratings}</td>
                        <td>${data[i].Description}</td>
                   </tr>`
        table.innerHTML += row
    }
}

</script>